/* RESETS AND GENERAL SETTINGS */ 

:root {
    --color-text-main: #231B3F;
    --color-text-secondary: #8B8B8B;
    --color-text-light: white; 
    --color-text-medium: #5B5B5B;
    --color-primary: #0D17D9;
    --color-primary-light-shade: #02C5E3;
    --color-secondary: #7718D9;
    --color-secondary-light-shade: #7F56E6;
    --color-tertiary: #02C5E3;
    --color-link: #4353FF;
    --color-gradient: linear-gradient(0deg, #7718D9, #0D17D9);
    --background-color-medium: #F6F6F6;
    --background-color-light: #F5F6F8;
    --background-color-ultra-light: #FAFAFA; 
    --backbround-color-gradient-light: linear-gradient(0deg, white, #FCFCFC 30%, #FAFAFA);
    --backbround-color-gradient-colorful: linear-gradient(0deg, #0D17D9, #7718D9 70%);
    --border-color-light: #d8d8d8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-main); 
    outline-color: var(--color-primary);
}

html {
    font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding-top: 70px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

ol, 
ul {    
    list-style: none;
}

blockquote, 
q {
    quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: var(--color-text-main);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-link);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

p, 
li,
a {
    font-size: 1rem;
}

/* SECTION COMMON STYLES */

.section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--backbround-color-gradient-light);
    overflow: hidden;
}

.section__container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__main-image {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.section__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__text-wrapper {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
}

.section__tittle {
    padding: 0 0 0.16em 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
}

.section__subtittle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.2;
}

.section__tittle-accent {
    background-image: linear-gradient(var(--color-secondary), var(--color-primary));
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section__description {
    max-width: 75vw;
    margin: 0 auto;
    padding: 1.5em 0 2em;
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2;
}

.section__buttons-wrapper {
    min-width: 255px;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

/* BULLETS GRID */

.section__bullets-grid {
    padding: 0 0 20px 0;
    display: inline-grid;
    grid-template-columns: max-content max-content;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    row-gap: 10px;
}

.section__bullet-wrapper-icon-and-text {
    margin-bottom: 5px;
    display: flex;
    font-size: 14px;
}

.section__bullet-text {
    font-size: 0.875rem;
    font-weight: 400;
}

/* BUTTONS */

.button {
    min-width: 115px;
    padding: 0.8em 1.5em;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-text-light);
    border: solid 0.2em var(--color-primary);
    border-radius: 5em;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

/* Temp solution it will be colorful gradient*/
.button:hover,
.button:focus {
    background: var(--color-primary-light-shade);
    border: solid 0.2em var(--color-primary-light-shade);
    color: var(--color-text-light);
}

/* Temp solution it will be a colorful gradient*/
.button-outlined {
    display: inline-block;
    background: transparent;
    border: solid 0.2em var(--color-primary);
    color: var(--color-primary);
}

/* Temp solution it will be colorful gradient or primary color*/
.button-outlined:hover,
.button-outlined:focus {
    background: transparent;
    color: var(--color-primary-light-shade);
    border: solid 0.2em var(--color-primary-light-shade);
}   

.text-button {
    /*
    margin-top: 25px;
    padding: 0.8em 1.5em;
    */
    background: transparent;
    color: var(--color-primary);
    border: solid 0.2em transparent;
    border-radius: 5em;
    font-size: 0.75rem;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.text-button:hover,
.text-button:focus {
    color: var(--color-primary-light-shade);
}

/* GRID FIGURES */ 

.grid-figures__container {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 1.75em;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-figures__figure-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-figures__figure-wrapper:last-child {
    grid-column: 1 / -1;
}

.grid-figures__figure {
    margin-bottom: 7px;
    background-size: 35px 30px;
    background-repeat: no-repeat;
}

.grid-figures__figure-image svg {
    width: auto;
    height: 27px;
}

.grid-figures__figure-text {
    font-size: 0.875rem;
    color: var(--color-text-medium);
    white-space: nowrap;
}

/* CARD'S SCROLLER */

.cards-scroller {
    position: relative;
    text-align: left;
}

.cards-scroller__crop {
    height: 500px;
    padding-bottom: 26px;
    overflow: hidden;
}

.cards-scroller__overflow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.cards-scroller__platter {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    display: inline-flex;
    vertical-align: top;
}

.cards-scroller__item {
    height: 450px;
    margin: 0 10px;
    display: flex;
}

.cards-scroller__item:first-child {
    margin-left: 0;
    padding-left: 20px;
}

.cards-scroller__item:last-child {
    padding-right: 20px;
}

.cards-scroller__card {
    position: relative;
    width: 100%;
    height: 100%;
}

.cards-scroller__card-link {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    cursor: pointer;
}

.cards-scroller__card-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18px; 
    background:rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.cards-scroller__card-link:hover:after,
.cards-scroller__card-link:focus:after {
    opacity: 1;
}


.cards-scroller__card-content {
    position: relative;
    width: 309px;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    white-space: normal;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.cards-scroller__card-content-dark-bg .cards-scroller__card-content-eyebrow,
.cards-scroller__card-content-dark-bg .cards-scroller__card-content-header,
.cards-scroller__card-content-dark-bg .cards-scroller__card-content-description {
    color: var(--color-text-light);
}

.cards-scroller__card-content.cards-scroller__card-content-withfullimg { /* estas clases pegadas con punto??? si les doy un espacio se rompen*/
    flex-direction: row;
    justify-content: center;
}

.cards-scroller__card-img-full-wrapper {
    width: 100%;
    display: block;
}

.cards-scroller__card-img-full-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: .6; 
}

.cards-scroller__card-img-full-wrapper-dark-bg:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.cards-scroller__card-img-full {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--background-color-medium);
    -o-object-fit: cover;
    object-fit: cover;
}

.cards-scroller__card-content-info {
    position: absolute;
    left: 0;
    width: 280px;
    padding: 28px;
}

.cards-scroller__card-content-eyebrow {
    width: 204px;
    margin-bottom: 0.4em;
    padding-bottom: 3px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.87rem;
    font-weight: 400;
    color:  var(--color-text-medium);
    line-height: 1.33337;
}

.cards-scroller__card-content-header {
    padding-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-main);
    line-height: 1.19048;
}

.cards-scroller__card-content-description {
    margin-top: 0;
    padding-top: 6px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    line-height: 1.5;
}

.cards-scroller__card-content-description-store {
    color: var(--color-text-main);
}

/* POST'S CARDS - BLOG */

.posts-cards__wrapper {
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.posts-cards__item {
    position: relative;
    width: 309px;
    height: 450px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.posts-cards__item-image-link {
    height: 215px;
    width: 100%;
    display: block;

}

.posts-cards__item-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.posts-cards__item-text-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 28px;
    text-align: left;
}

.posts-cards__item-eyebrow {    
    width: 204px;
    margin-bottom: 0.4em;
    padding-bottom: 3px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.87rem;
    font-weight: 400;
    color: var(--color-text-medium);
    line-height: 1.33337;
}

.posts-cards__item-tittle {
    padding-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-main);
    line-height: 1.19048;
}

.posts-cards__item-excerpt {
    margin-top: 0;
    max-height: 253px; /* cómo hago para que no se muestre si es más largo que esto */
    padding-top: 6px;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-text-secondary);
    line-height: 1.5;
}

/* CTA RIBBON */ 

.cta-ribbon {
    position: relative;
    width: 100%;
}

.cta-ribbon__container-link {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.cta-ribbon__container-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    background:rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.cta-ribbon__container-link:hover:after,
.cta-ribbon__container-link:focus:after {
    opacity: 1;
}

.cta-ribbon__tittle,
.cta-ribbon__subtittle {
    padding-right: 20px;
    padding-left: 20px;
}

.cta-ribbon__tittle {
    padding-top: 60px;
}

.cta-ribbon__subtittle {
    padding-bottom: 60px;
}

/* HEADER */ 

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hamburger-menu-wrapper {
    flex-basis: 33.33%;
}

.header__hamburger-menu {
    width: 50px;
    height: 50px;
    padding: 7px;
    background-color: transparent;
    border: none;
}

.header__hamburger-menu svg {
    width: 100%;
    height: auto;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.33%;
}

.header__logo-image-mobile {
    width: 3rem;
}

.header__logo-image-desktop {
    display: none;
}

.header__main-nav-items { 
    display: none;
    justify-content: space-between;
}
  
.header__main-nav-item {
    padding: 0 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.header__main-nav-item a {
    font-size: 0.875rem;
}

.header__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33.33%;
}

.header__button {
    min-width: fit-content;
}

/* HERO */ 

.hero__container {
    padding: 35px 20px 60px;
}

.hero__text-wrapper {
    padding: 2em 0 0;
}

/* SKILLS */ 

.skills {
    background-color: var(--background-color-medium);
}

.skills__grid-container {
    padding-bottom: 35px;
}

/* PORTFOLIO */ 

.portfolio__container {
    padding: 60px 0 40px;
    align-items: stretch;
}

/* ABOUT-ME */

.about-me {
    background: var(--backbround-color-gradient-colorful);
}

.about-me__text-wrapper {
    padding: 2em 0 0;
}

.about-me__tittle,
.about-me__subtittle,
.about-me__description,
.about-me__bullet-text {
    color: var(--color-text-light);
}

.about-me__button {
    background: var(--background-color-light);
    color: var(--color-primary);
}

.about-me__button-outlined {
    background: transparent;
    color: var(--color-text-light);
    border: solid 0.2em var(--color-text-light);
}

/* FREE STUFF */ 

.free-stuff {
    background: var(--color-tertiary);
}

.free-stuff__tittle {
    color: var(--color-text-light);
}

.free-stuff__subtittle {
    color: var(--color-text-main);
}

/* CONTACT */ 

.contact {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info {
    width: 309px;
    padding: 28px 28px 107px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: var(--backbround-color-gradient-colorful);
    border-radius: 18px;
    white-space: normal;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    z-index: 1;
}

.contact__info-tittle,
.contact__info-content {
    margin: 0;
    color: var(--color-text-light);
}

.contact__info-tittle,
.contact__info-content,
.contacts-list__item {
    padding: .5em 0;
 }

.contact__info-tittle {
    font-size: 2.1rem;
    word-break: break-word;
}

.contacts-list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contacts-list__item-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contacts-list__item-link {
    padding-left: 15px;
    color: var(--color-text-light);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2;
}

.contacts-list__item-icon-img {
    width: 1em;
    height: 1em;
}

.smiley {
    position: absolute;
    right: 25px;
    bottom: -34px;

}

.social-icons {
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.social-icons__item {
    padding-right: 20px;
}

.social-icons:last-child {
    padding-right: 0;
}

.contact__form {
    width: 309px;
    padding: 80px 28px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: var(--background-color-light);
    border-radius: 18px;
    white-space: normal;
    transform: translateY(-33px);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.form__fieldset {
    border: none;
    padding: 0;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form__label-text-group {
    width: 100%;
}

.form__label,
.form__legend {
    color: var(--color-text-medium);
    font-size: 0.75rem; 
    font-weight: 300;
    line-height: 1;
}

.form__legend {
    flex-basis: 100%;
    padding: 4px 2px 24px 0;
    font-weight: 400;
}

.form__label-text {
    width: 100%;
}

.form__label-radio-btn {
    flex-basis: 90%;
}

.form__input {
    width: 100%;
    padding: 4px 2px 0 0;
    margin-bottom: 2rem;
    background-color: transparent;
    border-bottom:  1px solid var(--border-color-light);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1.8;
}

.form__input:focus-visible {
    outline: none;
    border-bottom:  1px solid var(--color-primary);
}

.form__input-text {
    width: 100%;
    padding: 4px 2px 0 0;
    margin-bottom: 2rem;
    background-color: transparent;
    border-bottom:  1px solid var(--border-color-light);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1.8;
}

.form__input-radio-btn { /* pending: apply custom radio button with image */
    padding: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
    flex-basis: 10%;
    border: 1px solid var(--border-color-light); /* this doesn't work */
}

.form__label-text-message {
    font-weight: 400;
}

.form__button {
    align-self: center;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background-color-medium);
}

.footer__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__inner-wrapper {
    padding-bottom: 2em;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.footer__inner-wrapper:last-child {
    padding-bottom: 0;
}

.footer__logo-image-desktop {
    width: 12rem;
    display: flex;
}

.footer__section-list-tittle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.footer__description {
    padding: 1.5em 0 1em;
}

.footer__section-list-group {
    margin-top: 18px;
}

.footer__section-list-group-item {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2.5;
    color: var(--color-text-secondary);
}

.footer__section-list-group-social {
    position: relative;
    bottom: 0;
}

.footer__legal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-text-main);
}

.footer__legal-wrapper {
    max-width: 1440px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__legal-wrapper span,
.footer__legal-wrapper a {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2.5;
    color: var(--color-text-light);
}

.footer__legal-icons {
    display: inline-flex;
    align-items: center;
}

.footer__legal-icons svg {
    margin: 0 5px;
}

@media only screen and (min-width: 650px) {

    /* SECTION COMMON STYLES */ 

    .section__bullets-grid {
        grid-template-columns: max-content max-content max-content;
        column-gap: 40px;
    }

    /* CTA RIBBON */

    .cta-ribbon__tittle {
        padding-top: 50px;
    }
    
    .cta-ribbon__subtittle {
        padding-bottom: 50px;
    }

    /* CONTACT */

    .contact {
        padding-right: 0;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .contact__form {
        width: 337px;
        padding: 28px 28px 28px 56px;
        transform: translate(-28px, 0);
    }

    .form__button {
        align-self: flex-start;;
    }

    /* FOOTER */

    .footer__container {
        padding: 60px 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .footer__section-list {
       text-align: left;
       padding-bottom: 0;
    }

    .footer__inner-wrapper:first-child {
        flex-basis: 100%;
    }

    .footer__description {
        max-width: 60vw;
    }

    .footer__section-list-tittle-social {
        padding-top: 1.5em;
    }

}

@media only screen and (min-width: 834px) {

    /* SECTION COMMON STYLES */ 

    .section__container {
        padding: 80px 25px;
    }

    .section__tittle {
        font-size: 3rem;
    }

    .section__subtittle {
        font-size: 2rem;
    }

    .section__description {
        font-size: 0.9375rem;
    }

    .section__buttons-wrapper {
        min-width: 335px;
        padding-top: 1em;
    }
    
    /* BUTTONS */ 

    .button {
        min-width: 140px;
        padding: 0.7em 2.5em;
        font-size: 0.8125rem;
    }

    .text-button {
        font-size: 0.8125rem;
    }

    /* GRID FIGURES */ 

    .grid-figures__container {
        max-width: 1440px;
        padding-bottom: 0;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    .grid-figures__figure-wrapper:last-child,
    .skills__skill-wrapper:last-child {
        grid-column: 5;
    }

    .grid-figures__figure-image svg {
        height: 20px;
    }

    .grid-figures__figure-text {
        font-size: 0.8125rem;
    }

    /* POST'S CARDS - BLOG */

    .posts-cards__wrapper {
        max-width: 700px;
        flex-direction: row;
        justify-content: space-between;
    }

    /* CTA RIBBON */

    .cta-ribbon__tittle,
    .cta-ribbon__subtittle {
        padding-right: 25px;
        padding-left: 25px;
    }

    .cta-ribbon__tittle {
        padding-top: 40px;
    }
    
    .cta-ribbon__subtittle {
        padding-bottom: 40px;
    }
    
    /* HEADER */
    
    .header__container {
        padding: 15px 25px;
    }

    .header__hamburger-menu-wrapper,
    .header__logo-image-mobile {
        display: none;
    }

    .header__logo,
    .header__button-wrapper {
        flex-basis: auto;
    }

    .header__logo-image-desktop {
        width: 12rem;
        display: flex;
    }

    .header__main-nav {
        flex-grow: 1;
    }

    .header__main-nav-items { 
        display: flex;
        justify-content: space-evenly;
    }

    .header__main-nav-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header__main-nav-item a {
        font-size: 0.9375rem;
    }

    .header__main-nav-item a {
        white-space: nowrap;
    }

    .header__button {
        min-width: fit-content;
    }

    /* HERO */ 

    .hero__container {
        padding: 50px 25px 80px;
    }

    /* SKILLS */ 

    .skills__container {
        padding: 30px 25px;
        flex-direction: row-reverse;
    }

    .skills__text-button-wrapper{
        flex-basis: 18%;
    }

    /* PORTFOLIO */ 

    .portfolio__container{
        padding: 80px 0 60px;
    }

    .portfolio__text-wrapper {
        padding-bottom: 5px;
    }

    .cards-scroller__item:first-child {
        padding-left: 25px;
    }

    /* CONTACT */

    .contact__info-tittle {
        font-size: 2.5rem;
    }

    /* FOOTER */

    .footer__legal {
        align-items: stretch;
    }

    .footer__legal-wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 5px 15px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1080px) {

    /* RESETS AND GENERAL SETTINGS */ 

    body {
        padding-top: 80px;
    }

    /* SECTION COMMON STYLES */
    
    .section__container {
        padding: 100px 40px;
        justify-content: space-between;
    }

    .section__image-wrapper,
    .section__content-wrapper {
        flex-basis: 48%;
    }

    .section__main-image {
        max-width: 100%;
    }

    .section__tittle {
        font-size: 3.5rem;
    }

    .section__description {
        max-width: 1000px;
        padding: 1.4em 0;
        font-size: 1rem
    }

    .section__buttons-wrapper {
        min-width: 380px;
    }

    .section__bullets-grid {
        grid-template-columns: max-content max-content;
        column-gap: 50px;
    }

    /* BUTTONS */

    .button {
        min-width: 165px;
        padding: 0.8em 3em;
        font-size: 0.875rem;
    }

    .text-button-wrapper {
        flex-basis: auto;
    }

    .text-button {
        font-size: 0.875rem;
    }

    /* GRID FIGURES */ 

    .grid-figures__figure-image svg {
        height: 25px;
    }

    /* POST'S CARDS - BLOG */

    .posts-cards__wrapper {
        max-width: 1100px;
        padding: 30px 0;
    }

    /* CTA RIBBON */

    .cta-ribbon__tittle,
    .cta-ribbon__subtittle {
        padding-right: 40px;
        padding-left: 40px;
    }

    /* HEADER */ 

    .header__container {
        padding: 20px 40px;
    }

    .header__logo-image-desktop {
        width: 13rem;
    }

    .header__main-nav-item a {
        font-size: 1rem;
    }

    .header__button {
        min-width: fit-content;
    }

    /* HERO */ 

    .hero__container {
        padding: 70px 40px 100px;
        flex-direction: row-reverse;
    }

    .hero__text-wrapper {
        padding: 0;
        align-items: flex-start;
        text-align: left;
    }

    .hero__content-wrapper {
        align-items: flex-start;
    }

    .hero__description {
        max-width: 620px;
    }

    /* SKILLS */ 

    .skills__container {
        padding: 30px 40px;
    }

    /* PORTFOLIO */ 

    .portfolio__container {
        padding: 100px 0 80px;
    }

    .portfolio__text-wrapper {
        padding-bottom: 15px;
    }

    .cards-scroller__item:first-child {
        padding-left: 40px;
    }

    /* ABOUT-ME */

    .about-me__container {
        flex-direction: row;
    }

    .about-me__text-wrapper {
        padding: 0;
        align-items: flex-start;
        text-align: left;
    }

    .about-me__content-wrapper {
        align-items: flex-start;
    }

    .about-me__description {
        max-width: 620px;
    }

    /* CONTACT */

    .contact__info-tittle {
        font-size: 2.5rem;
    }
    .contact__form {
        width: 60%;
        max-width: 618px;
        flex-direction: row;
        column-gap: 117px;
    }

    .form {
        margin-top: 60px;
    }

    .form__fieldset-text {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .form__label, .form__legend {
        font-size: 0.8rem;
    }

    .form__label-text-group {
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    .form__fieldset-radio-btns,
    .form__label-text-message,
    .form__input-text-message {
        width: 100%;
    }

    .form__fieldset-radio-btns {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .form__label-radio-btn {
        padding-left: 8px;
    }

    .form__label-text-message {
        padding-top: 8px;
    }

    .form__button {
        margin-top: 20px;
        align-self: flex-end
    }

    .smiley {
        right: -34px;
        bottom: 30px;
    }

    /* FOOTER */

    .footer__container {
        padding: 40px;
        justify-content: space-between;
    }

    .footer__legal-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer__inner-wrapper:first-child {
        flex-basis: 30%;
    }

    .footer__logo {
        justify-content: flex-start;
    }
    
    .footer__description {
        text-align: left;
    }

}
