/* RESETS AND GENERAL SETTINGS */ 

:root {
    --color-text-main: #231B3F;
    --color-text-secondary: #8B8B8B;
    --color-text-light: white; 
    --color-text-medium: #5B5B5B;
    --color-primary: #0D17D9;
    --color-primary-light-shade: #02C5E3;
    --color-secondary: #7718D9;
    --color-secondary-light-shade: #7F56E6;
    --color-tertiary: #02C5E3;
    --color-link: #4353FF;
    --color-gradient: linear-gradient(0deg, #7718D9, #0D17D9);
    --background-color-medium: #F6F6F6;
    --background-color-light: #F5F6F8;
    --background-color-ultra-light: #FAFAFA; 
    --backbround--color-gradient-light: linear-gradient(0deg, white, #FCFCFC 30%, #FAFAFA);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-text-main); 
    outline-color: var(--color-primary);
}

html {
    font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding-top: 70px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

ol, 
ul {    
    list-style: none;
}

blockquote, 
q {
    quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: var(--color-text-main);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-link);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

p, 
li,
a {
    font-size: 1rem;
}

/* SECTION COMMON STYLES */

.section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--backbround--color-gradient-light);
}

.section__container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__main-image {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.section__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__text-wrapper {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
}

.section__tittle {
    padding: 0 0 0.16em 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
}

.section__subtittle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.2;
}

.section__tittle-accent {
    background-image: linear-gradient(var(--color-secondary), var(--color-primary));
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section__description {
    max-width: 75vw;
    margin: 0 auto;
    padding: 1.5em 0 2em;
    color: var(--color-text-secondary);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2;
}

.section__buttons-wrapper {
    min-width: 255px;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

/* BUTTONS */

.button {
    min-width: 115px;
    padding: 0.8em 1.5em;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-text-light);
    border: solid 0.2em var(--color-primary);
    border-radius: 5em;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

/* Temp solution it will be colorful gradient*/
.button:hover,
.button:focus {
    background: var(--color-primary-light-shade);
    border: solid 0.2em var(--color-primary-light-shade);
    color: var(--color-text-light);
}

/* Temp solution it will be a colorful gradient*/
.button-outlined {
    display: inline-block;
    background: white;
    border: solid 0.2em var(--color-primary);
    color: var(--color-primary);
}

/* Temp solution it will be colorful gradient or primary color*/
.button-outlined:hover,
.button-outlined:focus {
    background: white;
    color: var(--color-primary-light-shade);
    border: solid 0.2em var(--color-primary-light-shade);
}   

.text-button {
    /*
    margin-top: 25px;
    padding: 0.8em 1.5em;
    */
    background: transparent;
    color: var(--color-primary);
    border: solid 0.2em transparent;
    border-radius: 5em;
    font-size: 0.75rem;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.text-button:hover,
.text-button:focus {
    color: var(--color-primary-light-shade);
}

/* GRID FIGURES */ 

.grid-figures__container {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 1.75em;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-figures__figure-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-figures__figure-wrapper:last-child {
    grid-column: 1 / -1;
}

.grid-figures__figure {
    margin-bottom: 7px;
    background-size: 35px 30px;
    background-repeat: no-repeat;
}

.grid-figures__figure-image svg {
    width: auto;
    height: 27px;
}

.grid-figures__figure-text {
    font-size: 0.875rem;
    color: var(--color-text-medium);
    white-space: nowrap;
}

/* CARD'S SCROLLER */

.cards-scroller {
    position: relative;
    text-align: left;
}

.cards-scroller__crop {
    height: 500px;
    padding-bottom: 26px;
    overflow: hidden;
}

.cards-scroller__overflow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.cards-scroller__platter {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    display: inline-flex;
    vertical-align: top;
}

.cards-scroller__item {
    height: 450px;
    margin: 0 10px;
    display: flex;
}

.cards-scroller__item:first-child {
    margin-left: 0;
    padding-left: 20px;
}

.cards-scroller__item:last-child {
    padding-right: 20px;
}

.cards-scroller__card-link {
    cursor: pointer;
}

.cards-scroller__card-content {
    position: relative;
    width: 309px;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    white-space: normal;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.cards-scroller__card-content-dark-bg .cards-scroller__card-content-eyebrow,
.cards-scroller__card-content-dark-bg .cards-scroller__card-content-header,
.cards-scroller__card-content-dark-bg .cards-scroller__card-content-description {
    color: var(--color-text-light);
}

.cards-scroller__card-content.cards-scroller__card-content-withfullimg { /* estas clases pegadas con punto??? si les doy un espacio se rompen*/
    flex-direction: row;
    justify-content: center;
}

.cards-scroller__card-img-full-wrapper {
    width: 100%;
    display: block;
}

.cards-scroller__card-img-full-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: .6; 
}

.cards-scroller__card-img-full-wrapper-dark-bg:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.cards-scroller__card-img-full {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--background-color-medium);
    -o-object-fit: cover;
    object-fit: cover;
}

.cards-scroller__card-content-info {
    position: absolute;
    left: 0;
    width: 280px;
    padding: 28px;
}

.cards-scroller__card-content-eyebrow {
    width: 204px;
    margin-bottom: 0.4em;
    padding-bottom: 3px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.87rem;
    font-weight: 400;
    color:  var(--color-text-medium);
    line-height: 1.33337;
}

.cards-scroller__card-content-header {
    padding-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-main);
    line-height: 1.19048;
}

.cards-scroller__card-content-description {
    margin-top: 0;
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    line-height: 1.5;
}

.cards-scroller__card-content-description-store {
    color: var(--color-text-main);
}

/* HEADER */ 

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hamburger-menu-wrapper {
    flex-basis: 33.33%;
}

.header__hamburger-menu {
    width: 50px;
    height: 50px;
    padding: 7px;
    background-color: transparent;
    border: none;
}

.header__hamburger-menu svg {
    width: 100%;
    height: auto;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.33%;
}

.header__logo-image-mobile {
    width: 3rem;
}

.header__logo-image-desktop {
    display: none;
}

.header__main-nav-items { 
    display: none;
    justify-content: space-between;
}
  
.header__main-nav-item {
    padding: 0 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.header__main-nav-item a {
    font-size: 0.875rem;
}

.header__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33.33%;
}

.header__button {
    min-width: fit-content;
}

/* HERO */ 

.hero__container {
    padding: 35px 20px 60px;
}

.hero__text-wrapper {
    padding: 2em 0 0;
}

/* SKILLS */ 

.skills {
    background-color: var(--background-color-medium);
}

.skills__grid-container {
    padding-bottom: 35px;
}

/* PORTFOLIO */ 

.portfolio__container {
    padding: 60px 20px 40px 20px;
    align-items: stretch;
}

/* README */

@media only screen and (min-width: 834px) {

    /* SECTION COMMON STYLES */ 

    .section__container {
        padding: 80px 25px;
    }

    .section__tittle {
        font-size: 3rem;
    }

    .section__subtittle {
        font-size: 2rem;
    }

    .section__description {
        font-size: 0.9375rem;
    }

    .section__buttons-wrapper {
        min-width: 335px;
        padding-top: 1em;
    }
    
    /* BUTTONS */ 

    .button {
        min-width: 140px;
        padding: 0.7em 2.5em;
        font-size: 0.8125rem;
    }

    .text-button {
        font-size: 0.8125rem;
    }

    /* GRID FIGURES */ 

    .grid-figures__container {
        max-width: 1440px;
        padding-bottom: 0;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    .grid-figures__figure-wrapper:last-child,
    .skills__skill-wrapper:last-child {
        grid-column: 5;
    }

    .grid-figures__figure-image svg {
        height: 20px;
    }

    .grid-figures__figure-text {
        font-size: 0.8125rem;
    }
    
    /* HEADER */
    
    .header__container {
        padding: 15px 25px;
    }

    .header__hamburger-menu-wrapper,
    .header__logo-image-mobile {
        display: none;
    }

    .header__logo,
    .header__button-wrapper {
        flex-basis: auto;
    }

    .header__logo-image-desktop {
        width: 12rem;
        display: flex;
    }

    .header__main-nav {
        flex-grow: 1;
    }

    .header__main-nav-items { 
        display: flex;
        justify-content: space-evenly;
    }

    .header__main-nav-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header__main-nav-item a {
        font-size: 0.9375rem;
    }

    .header__main-nav-item a {
        white-space: nowrap;
    }

    .header__button {
        min-width: fit-content;
    }

    /* HERO */ 

    .hero__container {
        padding: 50px 25px 80px;
    }

    /* SKILLS */ 

    .skills__container {
        padding: 30px 25px;
        flex-direction: row-reverse;
    }

    .skills__text-button-wrapper{
        flex-basis: 18%;
    }

     /* PORTFOLIO */ 

    .portfolio__container{
        padding: 80px 25px 60px 25px;
    }

    .portfolio__text-wrapper {
        padding-bottom: 5px;
    }

}

@media only screen and (min-width: 1080px) {

    /* RESETS AND GENERAL SETTINGS */ 

    body {
        padding-top: 80px;
    }

    /* SECTION COMMON STYLES */
    
    .section__container {
        padding: 100px 40px;
        justify-content: space-between;
    }

    .section__image-wrapper,
    .section__content-wrapper {
        flex-basis: 48%;
    }

    .section__main-image {
        max-width: 100%;
    }

    .section__tittle {
        font-size: 3.5rem;
    }

    .section__description {
        max-width: 1000px;
        padding: 1.4em 0;
        font-size: 1rem
    }

    .section__buttons-wrapper {
        min-width: 380px;
    }

    /* BUTTONS */

    .button {
        min-width: 165px;
        padding: 0.8em 3em;
        font-size: 0.875rem;
    }

    .text-button-wrapper {
        flex-basis: auto;
    }

    .text-button {
        font-size: 0.875rem;
    }

    /* GRID FIGURES */ 

    .grid-figures__figure-image svg {
        height: 25px;
    }

    /* HEADER */ 

    .header__container {
        padding: 20px 40px;
    }

    .header__logo-image-desktop {
        width: 13rem;
    }

    .header__main-nav-item a {
        font-size: 1rem;
    }

    .header__button {
        min-width: fit-content;
    }

    /* HERO */ 

    .hero__container {
        padding: 70px 40px 100px;
        flex-direction: row-reverse;
    }

    .hero__text-wrapper {
        padding: 0;
        align-items: flex-start;
        text-align: left;
    }

    .hero__content-wrapper {
        align-items: flex-start;
    }

    .hero__description {
        max-width: 620px;
    }

    /* SKILLS */ 

    .skills__container {
        padding: 30px 40px;
    }

    /* PORTFOLIO */ 

    .portfolio__container {
        padding: 100px 40px 80px 40px;
    }

    .portfolio__text-wrapper {
        padding-bottom: 15px;
    }

}
